@import "@/styles/abstracts/variables";


.sing_up {
  padding: 70px 0;
}

.sing_up_head {
  text-align: center;
  margin-bottom: 50px;
}

.sing_up_form {
  position: relative;
  max-width: 380px;
  margin: 0 auto;
}

.sing_up_form_input {
  margin-bottom: 50px;
}

.sing_up_button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.sing_up_form_radio {
  &:not(:last-child) {
    margin-bottom: 7px;
  }
}

.sing_up_form_radio_head {
  margin-bottom: 10px;
}
