@import "@/styles/abstracts/variables";


.tooltip_container {
  position: relative;
}

.tooltip {
  display: flex;
  background-color: $black;
  color: $white;
  padding: 3px 16px;
  border-radius: 4px;
  position: fixed;
  z-index: 1;
}

.tooltip_cursor {
  cursor: pointer;
}
