$black: #000000;
$white: #FFFFFF;

$body-font-family: "Nunito", sans-serif;
$body-font-weight: 400;
$body-font-style: normal;
$body-font-size: 16px;
$body-line-height: 26px;
$body-color: $black;
$body-bg-color: #F8F8F8;

$primary: #F4E041;
$primary-hover: #FFE302;

$button-disabled-bg: #B4B4B4;
$button-disabled-color: $white;
